<template>
  <!-- Box display data -->
  <div class="interest-section">
    <div class="row">
      <div class="col-6"> <BoxTopRate :topic="'Top Search'" :type="'keyword'" :number="5" @returnData="handleReturnData"/> </div>
      <div class="col-6"> <BoxTopRate :topic="'Top View'" :type="'restaurant'" :number="5" @returnData="handleReturnData"/> </div>
    </div>
  </div>

  <!-- Input for search and query suggests to options -->
  <div class="search-section">
    <div class="input-group">
      <input type="text" class="form-control" :value="searchTerm" @input="handleInput" placeholder="Search for a restaurant" />
      <button class="btn btn-outline-secondary" type="button" @click="searchRestaurants()">Search</button>
      <ul v-if="suggests.length">
        <li v-for="suggest in suggests" :key="suggest.id" @click="fullfill()">
          {{ suggest.w }}
        </li>
      </ul>
    </div>
  </div>

  <!-- Display result restaurants after search -->
  <div class="result-section">
    <div  class="restaurants">
      <ul v-if="restaurants.length">
        <li v-for="(restaurant, index) in restaurants" :key="restaurant.id" @click="saveEvent(restaurant.w, 'restaurant')">
          {{ index+1 }}. {{ restaurant.name }}
        </li>
      </ul>
      <p v-else>No restaurants found.</p>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import BoxTopRate from '../components/BoxTopRate.vue';
import { apiMap } from '../api/map';
import { apiRating } from '../api/rating';
import { apiUser } from '@/api';

export default {
  components: {
    BoxTopRate
  },
  data() {
    return {
      searchTerm: '',
      restaurants: [],
      suggests:[],
    };
  },
  mounted() {
    document.addEventListener("click", this.handleClickOutside);
  },
  beforeUnmount() {
    document.removeEventListener("click", this.handleClickOutside);
  },
  methods: {
    async handleInput() {
      this.searchTerm = event.target.value;
      this.suggests = await apiMap.getSuggests({ searchTerm:this.searchTerm })
    },
    async searchRestaurants() {
      this.saveEvent(this.searchTerm, 'keyword')
      this.restaurants = await apiMap.getRestaurants({ searchTerm:this.searchTerm })
      this.suggests = []
    },
    // When select suggests dropdown add value to input
    fullfill() {
      this.searchTerm = event.target.textContent
      this.suggests = []
      this.searchRestaurants()
    },
    handleReturnData(data) {
      this.searchTerm = data;
      this.suggests = []
      this.searchRestaurants()
    },
    // Close dropdown suggests when click any position
    handleClickOutside(event) {
      this.suggests = []
    },
    // Keep statistics for search and click view restaurants
    async saveEvent(title, type) {
      const formData = new FormData();
      const ip = await apiUser.getIP()
      formData.append('title', title)
      formData.append('type', type)
      formData.append('ip', ip)
      apiRating.stackRating(formData)
    }
    
  },
};
</script>
    

