<template>
  <div class="bg-white p-4">
    <div class="container">
      <nav class="nav nav-pills nav-justified">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
        <a class="nav-link" href="#">Much longer nav link</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link disabled">Disabled</a>
      </nav>
    </div>
  </div>
</template>