<template>
  <div class="box-top-rate">
    <h3>{{ topic }}</h3>
    <ul>
      <li v-for="item in list" :key="item.id" class="d-flex">
        <div class="title" @click.self="sendDataToParent(item.title)">{{ item.title }}</div> <span class="count ms-auto">Rating count {{ item.count }}</span>
      </li>
    </ul>
  </div>
</template>

<script>
import { apiRating } from '../api/rating';

export default {
  props: {
    topic: String,
    type: String,
    number: 0
  },
  data() {
    return {
      list: Array
    };
  },
  mounted() {
    this.updatePopularData()
  },
  methods: {
    sendDataToParent(name) {
      this.$emit('returnData', name);
    },
    updatePopularData() {
      const params = this.axiosParams()
      
      apiRating.getPopularRating( params ).then(response => {
        
        if( response.data ) {
          this.list = response.data
        }
        
      }).catch(error => {
          // Handle any errors
          console.log(error.response.data.errors)
      });
      
    },
    axiosParams() {
        const params = new URLSearchParams();
        params.append('type', this.type);
        params.append('number', this.number);
        return params;
    }
  }
};
</script>