// out: main.css, compress: true;

@primary-color: rgb(219, 242, 221);


body {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.main-section {
  background-color: @primary-color;
}

.content-section {
  border-radius: 7px;
  padding: 50px;
  background-color: white;
  min-height: 700px;
}

.content-section {
  margin-top: 80px;
  margin-bottom: 80px;
}

.box-top-rate {
  border-radius: 7px;
  padding: 15px;
  border: 2px @primary-color solid;
  height: 100%;
  li {
    .title {
      cursor: pointer;
    }
  }
}

footer {
  padding: 15px;
  background-color: white;
  text-align: center;
}

.search-section {
  position: relative;
  margin-top: 45px;
  .input-group {
    width: 50%;
    margin: auto;
  }
  ul {
    position: absolute;
    background-color: white;
    border: 1px @primary-color solid;
    list-style: none;
    padding-left: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 38px;
    width: 100%;
    li {
      padding: 2px 15px;
      &:hover {
        cursor: pointer;
        background-color: @primary-color;
      }
    }
    
  }
}
.restaurants {
  padding: 15px;
  ul {
    padding-left: 0px;
    list-style: none;
    li {
      padding-bottom: 3px;
      cursor: pointer;
    }
  }
}