<script setup lang="ts">

</script>

<template>
  <div class="main-section">
    <Banner />
    <Nav />
    <div class="container content-section">
      <RouterView />      
    </div>
    <Footer />
  </div>
  
</template>

<script lang="ts">

import Nav from './components/Navigations/Nav.vue';
import Banner from './components/Navigations/Banner.vue';
import Footer from './components/Navigations/Footer.vue';

export default {
  components: {
    Nav,
    Banner,
    Footer
  },
  data() {
    return {
      userId: this.$route.params.id,
      user: []
    }
  }
}
</script>
